header {
    font-size: 130px !important;
    background-color: red !important;
}

.navbar {
    background-color: rgb(164, 249, 149) !important;
}

p {
    color: rgb(60, 9, 1) !important;
    font-size: 25px !important;
    max-width: 1200px !important;
    margin: 30px auto !important;
    text-align: justify !important;
    line-height: 1.6 !important;
    padding: 0 20px !important;
}

h5 {
    width: 350px !important;
}

#a {
    color: rgb(11, 245, 245) !important;
    text-align: center !important;
    font-size: 20px !important;
}

#b {
    color: brown !important;
    text-align: center !important;
}

<<<<<<< HEAD
=======
button {
}

>>>>>>> 254f9d296588d5699feb94f888d15d7674afddba
h2 {
    color: rgb(0, 0, 0) !important;
    text-align: center !important;
}

body {
    text-align: center !important;

}

.card img:hover {
    transform: scale(1.05) !important;
}

img {
    transition: transform 0.3s ease !important;
}

.container {
    display: flex !important;
    flex-wrap: nowrap !important;
    width: 100% !important;
    max-width: none !important;
    overflow: hidden !important;
    border-radius: 10px !important;
    transition: transform 0.3s ease !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 15px !important;
}

.card {
    flex: 0 0 350px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    border-radius: 15px !important;
    padding-bottom: 10px !important;
    height: 530px !important;
    border: 2px solid #000000 !important;
}

.card img {
    width: 350px !important;
    height: 350px !important;
    border-radius: 10px !important;
    transition: transform 0.3s ease !important;
}

iframe {
    width: 100% !important;
    max-width: 600px !important;
    border-radius: 10px !important;
}

footer {
    background-color: rgb(115, 7, 7) !important;
    width: 100% !important;
    height: 40px !important;
}